body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* 전체 높이를 100%로 설정 */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 방향 가운데 정렬 */
    align-items: center; /* 수평 방향 가운데 정렬 */
}

.search {
    width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 1rem;
    margin-bottom: 0.625rem;
    box-sizing: border-box;
}


.container p {
    margin-bottom: 1.25rem;
}

.search.bigsearch {
    height: 12.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    position: relative;
}
