header {
    height: 2rem;
    color: white;
}

ul {
    padding: 0;
}
.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.712);
    width: 50%;
    margin: auto;
    margin-top: 3.3rem;
}

#current_time{
    font-size: 0.65rem;
}

.message {
    height: fit-content;
    background-color: #D9D9D9;
    border-radius: 17px;
    width: 100%;
    padding: 1rem 0 2rem 0;
    margin: 0.5rem auto;
}

.message p {
    color: #6658B1;
    margin: 0 0 0.5rem 0;
    font-size: 0.8rem;
    padding-right: 1rem;
    text-align: right;
}

/* 리스트 용 */


/* 가장 최근 메시지 상자 */
.new{
    color: white;
    background-color: #6658B1;
}

.new p{
    color: #F6C080;
}

.where{
    font-size: 1.2rem;
    text-align: center;
}

.persons{
    font-size: 1.2rem;
    text-align: start;
}

span {
    display: flex;
    justify-content: center;
}
/* .where,.persons{
    margin-left: 1.5625rem;
} */

.msg_list{
    list-style-type: none;
}

li{
    list-style-type: none;
}


/* 이전 메시지 상자 */


/* .old_message{
    height: 6.8rem;
    background-color: #D9D9D9;
    border-radius: 17px;
    align-items: center;
    width: 90%;
}
 */

.alarm {
    margin: 10px;
    padding: 7px;
    float: right;
    background-color: #F6C080;
    border-radius: 50px;
}

.xi-lightbulb-o {
    color: white;
}
.xi-angle-left { 
    color: white;
    margin-top: -20px;
}


#view{
    width: 80%;
    background-color: #fff;
    border: 1.5px solid #6658B1;
    border-radius: 25px;
    margin-left: 12px;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
}

.line{
    height: 1px;
    width: 90%;
    background-color: black;
    margin-left: 10px;
}

.close{
    width: 30%;
    height: 30px;
    background-color: #6658B1;
    border-radius: 16px;
    color: white;
    border: none;
}

#txt{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}






