h2{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

#form{
    width: 80%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

#form2{
    width: 80%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


#ssn1,#ssn2{
    width: 47%;
}

#cancel,#check,#back,#codeBtn{
    width: 45%;
}

#codeBtn{
    margin-left: 1.25rem;
}

#check{
    margin-left: 1.25rem;
}

#text { background-color: rgb(244, 244, 244); margin-top: 20/16rem; padding: 20/16rem;}
