
header {
    padding-top: 5rem !important;
}

.xi-angle-left {
    color: white !important;
}

.title {
    color: white;
}

.container {
    background-color: #6658B1;
    width: 80%;
    height: 28rem;
    display: flex;
    flex-direction: column; /* 메뉴를 세로로 배치 */
    align-items: flex-start; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
    padding-left: 1.25rem; 
    margin: auto;
}

ul {
    list-style: none;
    padding-left: 10rem;
}
.con-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 3.125rem; /* 간격 더 벌리기 */
    margin-left: 0; /* 좌측 여백 추가 */
}
/* 
.menu-container {
    background-color: #ffffff;
    padding: 0.625rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1.5625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
} */

.xi-play {
    color: #F6C080;
}

.xi-play span {
    color: white ;
}

